# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Sitio
NEXT_PUBLIC_SITE_URL=https://tokbid.lol

# Paddle Sandbox
PADDLE_ENV=sandbox
PADDLE_API_KEY=
PADDLE_PRODUCT_ID=pro_01m2gt5fdxpvecrn16bmzkspt8
PADDLE_WEBHOOK_SECRET=
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
NEXT_PUBLIC_PADDLE_ENV=sandbox
